page-profile {

    .content{
        background-color: white;
    }

    //Head area related
    ion-icon {
        font-size: 3em;
    }

    #octocat{
        color: #ff3e00;
    }

    .welcome{
        color: black;
        font-size: 2em;
        font-weight: bolder;
        margin-top: 0em;
    }

    .profile{
        font-weight: 300;
        font-size: 0.8em;
    }

    #profile{
        border-radius: 0.5em;
        width: 30em;
        margin-top: -1em;
    }

    .infotab{
        font-weight: 400;
        font-size: 0.8em;
        color: rgba(0,0,0,0.5);
    }

    #username{
        font-weight: 300;
        font-size: 1.5em;
        margin-top: -0.5em auto -0.5em;
    }
    //

    //Tabs Related
    .tabs{
        font-weight: 300;
        font-size: 1.2em;
    }

    $tabs-ios-tab-icon-color-active: #ff3e00;
    //

    .orange{
        color: #ff3e00;
        font-size: 1.5em;
        font-weight: bold;
    }

    //Bar chart related
    .subtitles{
        font-size: 1.5em;
    }
    //

    .ios, .md {
 
        page-home {    
            .scroll-content {
                background-color: map-get($colors, light);
            }     
            ion-card-header {
                font-weight: bold;
            }   
        }    
    }
}