page-home {
    #cover{
        border-radius: 0.5em;
        width: 30em;
    }

    .content{
        // background-color: #ff3e00;
        background-color: white;
    }

    .button-md{
        color: black;
    }

    .scroll-content{
        color: black;
    }
}
