<ion-header>
    <ion-navbar>
        <ion-title>
            Charity List Page
        </ion-title>
    </ion-navbar>
</ion-header>

<ion-content padding>

    <!--Different categories of charities-->
    <ion-list inset>
        <!--Search Bar where function await to be added-->
        <ion-header>
                <ion-searchbar (input)="getItems($event)"></ion-searchbar>
                <ion-list>
                    <ion-item *ngFor="let item of items">
                        {{ item }}
                    </ion-item>
                </ion-list>
        </ion-header>

        <button ion-item *ngFor="let charity of charities" (click)="navigateToCharity(charity)">
            {{ charity.name }}
        </button>
    </ion-list>

</ion-content>